# SPDX-License-Identifier: AGPL-3.0-or-later
# Normalise all text to LF in the repo (consistent across OSes; keeps the
# signed app tarball reproducible). Binary assets are left untouched.
* text=auto eol=lf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
