# SPDX-License-Identifier: AGPL-3.0-or-later
# @nextcloud/vue 9 (Vue 3) is newer than some peers' declared ranges
# (e.g. @nextcloud/dialogs still lists a vue@8 peer). Allow installation
# during the Vue 2->3 transition; revisit once peers catch up.
legacy-peer-deps=true
